pipeline/IncrementalLoad_using_loop.json
{
	"name": "IncrementalLoad_using_loop",
	"properties": {
		"activities": [
			{
				"name": "GetTableDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from water_mark_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableDetail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableDetail').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "getNewWatermarkValue",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "StoredProceduretoLogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_GetHighWatermark]",
									"storedProcedureParameters": {
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item().Table_Name",
												"type": "Expression"
											}
										},
										"WatermarkColumn": {
											"type": "String",
											"value": {
												"value": "@item().watermark_column",
												"type": "Expression"
											}
										},
										"WatermarkType": {
											"type": "String",
											"value": {
												"value": "@item().watermark_type",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "WaterMark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data from source to txt",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "getNewWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.data_source_table"
								},
								{
									"name": "Destination",
									"value": "filestorageminu/@{concat(\n  'raw/bronze/',\n  item().table_name,\n  '/ingest_dt=',\n  formatDateTime(utcNow(),'yyyy-MM-dd')\n)\n}/@{concat(   'Incremental-',   item().table_name,   '-',   pipeline().RunId,   '.parquet' ) }"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[GetsourceData]",
									"storedProcedureParameters": {
										"HighWatermarkDt": {
											"type": "DateTime",
											"value": {
												"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkDatetime",
												"type": "Expression"
											}
										},
										"HighWatermarkId": {
											"type": "Int64",
											"value": {
												"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkId",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item().Table_Name",
												"type": "Expression"
											}
										},
										"WatermarkType": {
											"type": "String",
											"value": {
												"value": "@item().watermark_type",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceSqlTble",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSParquet",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat(\n  'raw/bronze/',\n  item().table_name,\n  '/ingest_dt=',\n  formatDateTime(utcNow(),'yyyy-MM-dd')\n)\n",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(   'Incremental-',   item().table_name,   '-',   pipeline().RunId,   '.parquet' ) ",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SPWriteWatermarkActivity",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from source to txt",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateWatermark]",
								"storedProcedureParameters": {
									"NewWatermarkDatetime": {
										"value": {
											"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkDatetime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"NewWatermarkId": {
										"value": {
											"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkType": {
										"value": {
											"value": "@item().watermark_type",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SPWriteError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from source to txt",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Log_Capture]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "opy data from source to txt",
										"type": "String"
									},
									"ErrorCode": {
										"value": {
											"value": "@activity('Copy data from source to txt').error.errorCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy data from source to txt').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"EndTimeUtc ": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Mode": {
										"value": "FAILED",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "StoredProceduretoLogStart",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Log_Capture]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "opy data from source to txt",
										"type": "String"
									},
									"StartTimeUtc ": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Mode": {
										"value": "START",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SPWriteSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SPWriteWatermarkActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Log_Capture]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "StoredProceduretoWriteSuccess",
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Copy data from source to txt').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"EndTimeUtc ": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Mode": {
										"value": {
											"value": "@if(greater(activity('Copy data from source to txt').output.rowsCopied, 0), 'SUCCESS', 'NODATA')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "SPWriteSuccess",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"libraries": [
									{
										"pypi": {
											"package": ""
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-19T16:26:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}