templates/IncrementalLoad_using_loop/IncrementalLoad_using_loop.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		},
		"AzureBlobStorage1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalLoad_using_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTableDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from water_mark_table",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetTableDetail",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetTableDetail').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "getNewWatermarkValue",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "StoredProceduretoLogStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[usp_GetHighWatermark]",
											"storedProcedureParameters": {
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().Table_Name",
														"type": "Expression"
													}
												},
												"WatermarkColumn": {
													"type": "String",
													"value": {
														"value": "@item().watermark_column",
														"type": "Expression"
													}
												},
												"WatermarkType": {
													"type": "String",
													"value": {
														"value": "@item().watermark_type",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "WaterMark",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Copy data from source to txt",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "getNewWatermarkValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[GetsourceData]",
											"storedProcedureParameters": {
												"HighWatermarkDt": {
													"type": "DateTime",
													"value": {
														"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkDatetime",
														"type": "Expression"
													}
												},
												"HighWatermarkId": {
													"type": "Int64",
													"value": {
														"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkId",
														"type": "Expression"
													}
												},
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().Table_Name",
														"type": "Expression"
													}
												},
												"WatermarkType": {
													"type": "String",
													"value": {
														"value": "@item().watermark_type",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceSqlTble",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "sinkfile",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@concat('Incremental-', item().Table_Name, '-', pipeline().RunId, '.txt')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "StoredProceduretoWriteWatermarkActivity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data from source to txt",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpdateWatermark]",
										"storedProcedureParameters": {
											"NewWatermarkDatetime": {
												"value": {
													"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkDatetime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"NewWatermarkId": {
												"value": {
													"value": "@activity('getNewWatermarkValue').output.firstRow.HighWatermarkId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"TableName": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"WatermarkType": {
												"value": {
													"value": "@item().watermark_type",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('AzureSqlDatabase1')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "StoredProceduretoWriteopyError",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data from source to txt",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Log_Capture]",
										"storedProcedureParameters": {
											"ActivityName": {
												"value": "opy data from source to txt",
												"type": "String"
											},
											"ErrorCode": {
												"value": "@activity('Copy data from source to txt').error.errorCode",
												"type": "String"
											},
											"ErrorMessage": {
												"value": "@activity('Copy data from source to txt').error.message",
												"type": "String"
											},
											"EndTimeUtc ": {
												"value": "@utcNow()",
												"type": "DateTime"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Mode": {
												"value": "FAILED",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('AzureSqlDatabase1')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "StoredProceduretoLogStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Log_Capture]",
										"storedProcedureParameters": {
											"ActivityName": {
												"value": "opy data from source to txt",
												"type": "String"
											},
											"StartTimeUtc ": {
												"value": "@utcNow()",
												"type": "DateTime"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Mode": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('AzureSqlDatabase1')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "StoredProceduretoWriteSuccess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "StoredProceduretoWriteWatermarkActivity",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Log_Capture]",
										"storedProcedureParameters": {
											"ActivityName": {
												"value": "StoredProceduretoWriteSuccess",
												"type": "String"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Copy data from source to txt').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"EndTimeUtc ": {
												"value": "@utcNow()",
												"type": "DateTime"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "@item().Table_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Mode": {
												"value": {
													"value": "@if(greater(activity('Copy data from source to txt').output.rowsCopied, 0), 'SUCCESS', 'NODATA')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('AzureSqlDatabase1')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2026-05-19T16:26:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]",
				"[concat(variables('factoryId'), '/datasets/WaterMark')]",
				"[concat(variables('factoryId'), '/datasets/SourceSqlTble')]",
				"[concat(variables('factoryId'), '/datasets/sinkfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Emp_Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Salary",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "employee"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterMark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceSqlTble')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "data_source_table"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "source",
						"container": "filestorageminu"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Emp_id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}